* {
    padding: 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
}

;

body {
    background-color: #ffffff;
}

.main {
    margin-top: 300px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn {
    margin-top: 20px;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to bottom left, red 30%, orange, yellow, green, blue, indigo, violet);
    color: #000000, #ffffff;
    border: 50px;
    border-radius: 100rem;
    display: block;
    font-size: 100%;
    text-align: center;

}